/* content background color */
.content {
  background-color: #EDCBFF;
  font-family: monospace;
}

/* content style */
.content p {
  font-family: monospace, sans-serif;
  color: #722d05;
}

/* image width and alt text color */
.image {
  width: 100%;
  color: #722d05;
}

/* heading 2 text color */
h2 {
  color: #33190a;
}

/* list text colors and fonts */
li {
  color: #722d05;
  font-family: monospace, sans-serif;
}

/* padding */
.padding {
  padding: 10px;
}

/* table styles */
table {
  color: #7a5522;
  text-align: left;
  font-family: monospace;
  background: #efab4c;
  border: 2px solid brown;
  height: 100%;
  width: 100%; 
}

/* table heading styles */
.tableheadings {
  color: #513002;
  text-align: center;
  font-family: monospace;
  background: #f79409;
}

/* table caption font size */
caption {
  font-size: 200%;
}

/* background color style */
.background {
  background-color: #fcb185;
}

/* Petuna talking */
.petuna {
  color: #F9800D !important;
}

/* Tuna talking */
.tuna {
  color: #040F8F !important;
}
